.sectionBook {
    display: flex;
    text-decoration: none;
    padding: 32px;
    background: $lightBlue;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: .3s;
    &:hover {
        box-shadow: 0 20px 20px -15px #e1f0ff;
    }

    &-info {
        width: 100%;
        p {
            margin: 0;
            margin-bottom: 16px;
            & .colored {
                display: inline-flex;
                margin-left: 8px;
                color: $dark;
                font-weight: 600;
            }
        }
        &__boldText {
            color: $darkViolet;
            font-weight: bold;
            font-size: 32px;
            @media (max-width: 990px) {
                font-size: 16px;
            }
        }
        &__text {
            color: $violet;
            font-size: 16px;
            font-weight: 500;
            @media (max-width: 990px) {
                font-size: 12px;
            }
        }

        &__wrapBtn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                margin-right: 8px;
            }
            button:last-child {
                margin-right: 0;
            }

            @media (max-width: 990px) {
                justify-content: flex-start;
            }
        }
    }
}